body {
    background-color: #121212;
    color: #f1f1f1;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header, footer {
    background-color: #1e1e1e;
    color: #f1f1f1;
  }
  
  a {
    color: #007bff;
  }
  
  a:hover {
    color: #0056b3;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  